# Default values for ispn-helm.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicas: 3
defaultImage: quay.io/infinispan/server:14.0.25.Final
cacheDefaults:
  owners: 2
  # SYNC or ASYNC
  crossSiteMode: SYNC
  # AUTO or MANUAL
  stateTransferMode: AUTO
  remoteTimeout: 5000
  xsiteRemoteTimeout: 4500
  lockTimeout: 4000
  # WARN|FAIL|IGNORE. ASYNC only works with WARN|IGNORE
  xsiteFailurePolicy: WARN
  # NONE|NON_XA
  txMode: NONE
  txLockMode: OPTIMISTIC
  # If true, then maxRelayNodes must be 1
  xsiteTwoPhaseCommit: false
  # Min time to wait
  xsiteOfflineMinWait: -1
  # Min consecutive failures
  xsiteOfflineAfterFailures: -1
caches:
  sessions:
    owners: 2
    mergePolicy: ALWAYS_REMOVE
  actionTokens: {}
  authenticationSessions:
    mergePolicy: ALWAYS_REMOVE
  offlineSessions:
    mergePolicy: ALWAYS_REMOVE
  clientSessions:
    mergePolicy: ALWAYS_REMOVE
  offlineClientSessions:
    mergePolicy: ALWAYS_REMOVE
  loginFailures: { }
  work: { }
crossdc:
  enabled: false
  maxRelayNodes: 128
  local:
    gossipRouterEnabled: true
  remote:
    gossipRouterEnabled: true
  route:
    enabled: false
    tls:
      keystore:
        alias: xsite
        filename: keystore.p12
      truststore:
        filename: truststore.p12
  heartbeats:
    interval: 2000
    timeout: 8000
logging:
  infinispan: info
  jgroups: info
hotrodPassword: changeme
metrics:
  histograms: false
fd:
  interval: 2000
  timeout: 15000
