{{ if or (eq .Values.database "postgres") (eq .Values.database "postgres+infinispan") }}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: postgres
  name: postgres
  namespace: {{ .Values.namespace }}
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: postgres
  strategy:
    type: Recreate
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - imagePullPolicy: Always
{{ if eq .Values.environment "openshift" }}
          # Running a different container on OpenShift that doesn't need root support.
          # As this is pulled from the Red Hat registry, this is not available on minikube
          env:
            - name: POSTGRESQL_PASSWORD
              value: secret99
            - name: POSTGRESQL_USER
              value: keycloak
            - name: POSTGRESQL_DATABASE
              value: keycloak
            - name: POSTGRESQL_MAX_PREPARED_TRANSACTIONS
              value: '100'
          image: registry.redhat.io/rhel9/postgresql-15
{{ else }}
          env:
            - name: POSTGRES_PASSWORD
              value: secret99
            - name: POSTGRES_USER
              value: keycloak
            - name: POSTGRES_DB
              value: keycloak
          image: postgres:15
          args:
            # default of max_prepared_transactions is 0, and this setting should match the number of active connections
            # so that running Quarkus with JTA and more than one data store can prepare transactions.
            - -c
            - max_prepared_transactions=100
{{ end }}
          resources:
            requests:
              cpu: "{{ .Values.cpuRequests }}"
          startupProbe:
            tcpSocket:
              port: 5432
            failureThreshold: 20
            initialDelaySeconds: 10
            periodSeconds: 2
          readinessProbe:
            tcpSocket:
              port: 5432
            failureThreshold: 10
            periodSeconds: 10
          livenessProbe:
            tcpSocket:
              port: 5432
            failureThreshold: 10
            periodSeconds: 10
          name: postgres
          ports:
            - containerPort: 5432
              protocol: TCP
      restartPolicy: Always
      # The rhel9/postgresql-13 is known to take ~30 seconds to shut down
      # As this is a deployment with ephemeral storage, there is no need to wait as the data will be gone anyway
      terminationGracePeriodSeconds: 0
{{ end }}
