---
# default: hungry, for OpenShift sandbox replace with "xxx-dev" project name returned by "oc projects"
namespace: keycloak
# default: apps-crc.testing, for OpenShift sandbox replace with ".apps.sandbox-xx.xxxx.xx.openshiftapps.com"
hostname: 172.30.97.253.nip.io
monitoring: true
otel: false
cryostat: true
dbPoolInitialSize: 5
dbPoolMaxSize: 10
dbPoolMinSize: 5
storage:
database: postgres
disableCaches: false
keycloakImage: ''
instances: 1
cpuLimits: 1
memoryLimitsMB: 1024
heapInitMB: 64
heapMaxMB: 512
metaspaceInitMB: 96
metaspaceMaxMB: 256
