---
# default: hungry, for OpenShift sandbox replace with "xxx-dev" project name returned by "oc projects"
namespace: keycloak
# default: apps-crc.testing, for OpenShift sandbox replace with ".apps.sandbox-xx.xxxx.xx.openshiftapps.com"
hostname: 172.30.97.253.nip.io
monitoring: true
otel: false