name: Aurora Create

on:
  workflow_dispatch:
    inputs:
      name:
        description: 'The name of the Aurora DB cluster'
        type: string
        required: true
      region:
        description: 'The AWS region used to host the Aurora DB'
        type: string
        required: true
      engineVersion:
        description: 'The Postgres engine version to use'
        type: string
      instanceClass:
        description: 'Instance class for the Aurora DB'
        type: string
      instances:
        description: 'The number of Aurora DB instances'
        type: string
        default: "2"
  workflow_call:
    inputs:
      name:
        description: 'The name of the Aurora DB cluster'
        type: string
        required: true
      region:
        description: 'The AWS region used to host the Aurora DB'
        type: string
        required: true
      engineVersion:
        description: 'The Postgres engine version to use'
        type: string
      instanceClass:
        description: 'Instance class for the Aurora DB'
        type: string
      instances:
        description: 'The number of Aurora DB instances'
        type: string
        default: "2"

jobs:
  prepare:
    name: Create Aurora DB
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup ROSA CLI
        uses: ./.github/actions/rosa-cli-setup
        with:
          aws-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-default-region: ${{ vars.AWS_DEFAULT_REGION }}
          rosa-token: ${{ secrets.ROSA_TOKEN }}

      - name: Create Aurora Cluster
        uses: ./.github/actions/aurora-create-database
        with:
          name: ${{ inputs.name }}
          region: ${{ inputs.region }}
          engineVersion: ${{ inputs.engineVersion }}
          instanceClass: ${{ inputs.instanceClass }}
          instances: ${{ inputs.instances }}
