name: Minikube CI

on:
  push:
    # dependabot will create both branches and pull request
    # only run on pull requests to avoid running twice and creating a release draft
    branches-ignore:
      - 'dependabot/**'
    paths:
      - 'provision/minikube/**'
      - '.github/workflows/provision-minikube.yml'
  pull_request:
    paths:
      - 'provision/minikube/**'
      - '.github/workflows/provision-minikube.yml'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Install Task
        uses: arduino/setup-task@v1
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - uses: azure/setup-helm@v3.1
        with:
          version: 'v3.8.2'
      - uses: azure/setup-kubectl@v3.0
        with:
          version: 'v1.23.3'
      - name: Add yq
        run: |
          mkdir -p $GITHUB_WORKSPACE/bin
          wget https://github.com/mikefarah/yq/releases/download/v4.25.3/yq_linux_amd64 -O $GITHUB_WORKSPACE/bin/yq 
          chmod +x $GITHUB_WORKSPACE/bin/yq
      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.6.1
        with:
          minikube version: 'v1.25.2'
          kubernetes version: 'v1.23.3'
          github token: ${{ secrets.GITHUB_TOKEN }}
          driver: docker
          start args: --memory 4096
      - name: Provision everything
        working-directory: provision/minikube
        run: |
          PATH=$PATH:$GITHUB_WORKSPACE/bin
          ./rebuild.sh
          kubectl get pods -A
          kubectl get events -A
      - name: Show logs on failure
        if: ${{ failure() }}
        working-directory: provision/minikube
        run: |
          kubectl get pods -A
          kubectl get events -A
        
