name: ROSA Cluster - Delete

on:
  workflow_call:
    inputs:
      clusterName:
        description: 'Name of the cluster'
        type: string
      deleteAll:
        description: 'Delete all clusters'
        required: true
        default: 'no'
        type: string
  workflow_dispatch:
    inputs:
      clusterName:
        description: 'Name of the cluster'
        type: string
      deleteAll:
        description: 'Delete all clusters'
        required: true
        default: 'no'
        type: string

jobs:

  delete:
    name: Delete ROSA cluster
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Setup ROSA CLI
        uses: ./.github/actions/rosa-cli-setup
        with:
          aws-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-default-region: ${{ vars.AWS_DEFAULT_REGION }}
          rosa-token: ${{ secrets.ROSA_TOKEN }}

      # Don't use ./.github/actions/oc-keycloak-login as we need to tolerate failures if the cluster can't be logged in to
      - name: Login to OpenShift cluster
        if: ${{ inputs.deleteAll == 'no' }}
        shell: bash
        run: ./rosa_oc_login.sh || true
        working-directory: provision/aws
        env:
          CLUSTER_NAME: ${{ inputs.clusterName || format('gh-{0}', github.repository_owner) }}

      - name: Setup OpenTofu
        uses: opentofu/setup-opentofu@v1
        with:
          tofu_wrapper: false

      - name: Delete a ROSA Cluster
        if: ${{ inputs.deleteAll == 'no' }}
        shell: bash
        run: |
          export REGION=$(rosa describe cluster -c ${CLUSTER_NAME} -o json | jq -r .region.id)
          ./rosa_delete_cluster.sh
        working-directory: provision/aws
        env:
          CLUSTER_NAME: ${{ inputs.clusterName || format('gh-{0}', github.repository_owner) }}
          TF_VAR_rhcs_token: ${{ secrets.ROSA_TOKEN }}

      - name: Delete all ROSA Clusters
        if: ${{ inputs.deleteAll == 'yes' }}
        shell: bash
        run: ./rosa_cluster_reaper.sh
        working-directory: provision/aws
        env:
          TF_VAR_rhcs_token: ${{ secrets.ROSA_TOKEN }}

      - name: Archive ROSA logs
        uses: actions/upload-artifact@v5
        if: always()
        with:
          name: rosa-logs-${{ inputs.clusterName || format('gh-{0}', github.repository_owner) }}
          path: provision/aws/logs
          retention-days: 5
