name: ROSA Daily Scheduled Run

on:
  schedule:
    - cron: '0 5 * * 1-5' # Runs At 05:00 UTC on every day-of-week from Monday through Friday.
  workflow_dispatch:
    inputs:
      clusterPrefix:
        type: string
        default: gh-keycloak
      region:
        type: string
        default: eu-west-1
      keycloak_operator_olm:
        type: boolean
        default: false
      keycloak_operator_olm_catalog_source:
        type: string
        default: community-operators
      keycloak_operator_olm_name:
        type: string
        default: keycloak-operator
      keycloak_operator_olm_channel:
        type: string
      keycloak_operator_olm_version:
        type: string
      infinispan_operator_olm_catalog_source:
        type: string
        default: community-operators
      infinispan_operator_olm_name:
        type: string
        default: infinispan
      infinispan_operator_olm_channel:
        type: string
        default: stable

jobs:
  keycloak-deploy-active-active:
    name: ROSA Scheduled Create Active/Active cluster with External Infinispan and Persistent Sessions
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-create.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      enableMultiSiteFeature: true
      enableExternalInfinispanFeature: false
      activeActive: true
      keycloak_operator_olm: ${{ inputs.keycloak_operator_olm }}
      keycloak_operator_olm_catalog_source: ${{ inputs.keycloak_operator_olm_catalog_source }}
      keycloak_operator_olm_name: ${{ inputs.keycloak_operator_olm_name }}
      keycloak_operator_olm_channel: ${{ inputs.keycloak_operator_olm_channel }}
      keycloak_operator_olm_version: ${{ inputs.keycloak_operator_olm_version }}
      infinispan_operator_olm_catalog_source: ${{ inputs.infinispan_operator_olm_catalog_source }}
      infinispan_operator_olm_name: ${{ inputs.infinispan_operator_olm_name }}
      infinispan_operator_olm_channel: ${{ inputs.infinispan_operator_olm_channel }}
    secrets: inherit

  run-active-active-health-checks-after-deploy:
    needs: keycloak-deploy-active-active
    name: Run multi-site health checks after A/A deployment
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-functional-tests-active-active:
    needs: run-active-active-health-checks-after-deploy
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipEmbeddedCaches: true
      skipRemoteCaches: true
    secrets: inherit

  run-active-active-health-checks-after-functional-tests:
    needs: run-functional-tests-active-active
    name: Run multi-site health checks after A/A functional tests
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-scaling-benchmark-active-active:
    needs: run-active-active-health-checks-after-functional-tests
    uses: ./.github/workflows/rosa-scaling-benchmark.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      outputArchiveSuffix: 'active-active'
      region: ${{ inputs.region }}
      keycloak_operator_name: ${{ inputs.keycloak_operator_olm_name }}
    secrets: inherit

  run-active-active-health-checks-after-benchmarks:
    needs: run-scaling-benchmark-active-active
    name: Run multi-site health checks after A/A benchmarks
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  keycloak-undeploy-active-active:
    needs: run-active-active-health-checks-after-benchmarks
    name: Undeploy Keycloak A/A deployment on the multi-az cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-undeploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipAuroraDeletion: true
      activeActive: true
    secrets: inherit

  keycloak-deploy-active-active-volatile:
    needs: keycloak-undeploy-active-active
    name: Deploy Volatile Active/Active
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-create.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      enableMultiSiteFeature: true
      enableExternalInfinispanFeature: true
      activeActive: true
      createCluster: false
      keycloak_operator_olm: ${{ inputs.keycloak_operator_olm }}
      keycloak_operator_olm_catalog_source: ${{ inputs.keycloak_operator_olm_catalog_source }}
      keycloak_operator_olm_name: ${{ inputs.keycloak_operator_olm_name }}
      keycloak_operator_olm_channel: ${{ inputs.keycloak_operator_olm_channel }}
      keycloak_operator_olm_version: ${{ inputs.keycloak_operator_olm_version }}
      infinispan_operator_olm_catalog_source: ${{ inputs.infinispan_operator_olm_catalog_source }}
      infinispan_operator_olm_name: ${{ inputs.infinispan_operator_olm_name }}
      infinispan_operator_olm_channel: ${{ inputs.infinispan_operator_olm_channel }}
    secrets: inherit

  run-active-active-volatile-health-checks-after-deploy:
    needs: keycloak-deploy-active-active-volatile
    name: Run multi-site health checks after volatile sessions deployment
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-functional-tests-active-active-volatile:
    needs: run-active-active-volatile-health-checks-after-deploy
    name: Test Volatile Active/Active
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipEmbeddedCaches: true
      skipRemoteCaches: false
    secrets: inherit

  run-active-active-volatile-health-checks-after-functional-tests:
    needs: run-functional-tests-active-active-volatile
    name: Run multi-site health checks after volatile sessions functional tests
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-scaling-benchmark-active-active-volatile:
    needs: run-active-active-volatile-health-checks-after-functional-tests
    name: Benchmark Volatile Active/Active
    uses: ./.github/workflows/rosa-scaling-benchmark.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipCreateDataset: true
      outputArchiveSuffix: 'active-passive'
      region: ${{ inputs.region }}
      keycloak_operator_name: ${{ inputs.keycloak_operator_olm_name }}
    secrets: inherit

  run-active-active-volatile-health-checks-after-benchmarks:
    needs: run-scaling-benchmark-active-active-volatile
    name: Run multi-site health checks after after volatile sessions benchmarks
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

