name: Multi-AZ Clusters - Run Tests

on:
  workflow_dispatch:
    inputs:
      clusterPrefix:
        description: 'The ROSA cluster prefix.'
        type: string
        default: gh-keycloak
      region:
        description: 'Name of the region where EC2 instances should be installed'
        type: string
      usersPerRealm:
        description: 'Number of users for the scenario in DB'
        type: number
        default: 100000
      uniqueCredentials:
        description: 'Limits the total number of credentials created to the specified amount in order to speed up dataset initialisation'
        type: number
        default: -1

  workflow_call:
    inputs:
      clusterPrefix:
        description: 'The ROSA cluster prefix.'
        type: string
        default: gh-keycloak
      region:
        description: 'Name of the region where EC2 instances should be installed'
        type: string
      usersPerRealm:
        description: 'Number of users for the scenario in DB'
        type: number
        default: 100000
      uniqueCredentials:
        description: 'Limits the total number of credentials created to the specified amount in order to speed up dataset initialisation'
        type: number
        default: -1

jobs:

  create-rosa-clusters:
    name: Create Multi-AZ ROSA clusters
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters-create.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      region: ${{ inputs.region }}
    secrets: inherit

  keycloak-deploy-active-active:
    needs: create-rosa-clusters
    name: Deploy Active/Active
    if: success() && (github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark')
    uses: ./.github/workflows/rosa-multi-az-clusters-deploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      region: ${{ inputs.region }}
      enableMultiSiteFeature: true
      enableExternalInfinispanFeature: false
      activeActive: true
    secrets: inherit

  run-active-active-health-checks-after-deploy:
    needs: keycloak-deploy-active-active
    name: Run multi-site health checks after A/A deployment
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-functional-tests-active-active:
    needs: run-active-active-health-checks-after-deploy
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipEmbeddedCaches: true
      skipRemoteCaches: true
    secrets: inherit

  run-active-active-health-checks-after-functional-tests:
    needs: run-functional-tests-active-active
    name: Run multi-site health checks after A/A functional tests
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-scaling-benchmark-active-active:
    needs: run-active-active-health-checks-after-functional-tests
    uses: ./.github/workflows/rosa-multi-cluster-benchmark.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      region: ${{ inputs.region }}
      outputArchiveSuffix: 'active-active'
      usersPerRealm: ${{ inputs.usersPerRealm }}
      uniqueCredentials: ${{ inputs.uniqueCredentials }}
    secrets: inherit

  run-active-active-health-checks-after-benchmarks:
    needs: run-scaling-benchmark-active-active
    name: Run multi-site health checks after A/A benchmarks
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  keycloak-undeploy-active-active:
    needs: run-active-active-health-checks-after-benchmarks
    name: Undeploy Keycloak A/A deployment on the multi-az cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters-undeploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipAuroraDeletion: true
      activeActive: true
    secrets: inherit

  keycloak-deploy-active-active-volatile:
    needs: keycloak-undeploy-active-active
    name: Deploy Volatile Active/Active
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters-deploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      region: ${{ inputs.region }}
      enableMultiSiteFeature: true
      enableExternalInfinispanFeature: true
      activeActive: true
    secrets: inherit

  run-active-active-volatile-health-checks-after-deploy:
    needs: keycloak-deploy-active-active-volatile
    name: Run multi-site health checks after volatile sessions deployment
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-functional-tests-active-active-volatile:
    needs: run-active-active-volatile-health-checks-after-deploy
    name: Test Volatile Active/Active
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipEmbeddedCaches: true
      skipRemoteCaches: false
    secrets: inherit

  run-active-active-volatile-health-checks-after-functional-tests:
    needs: run-functional-tests-active-active-volatile
    name: Run multi-site health checks after volatile sessions functional tests
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  run-scaling-benchmark-active-active-volatile:
    needs: run-active-active-volatile-health-checks-after-functional-tests
    name: Benchmark Volatile Active/Active
    uses: ./.github/workflows/rosa-multi-cluster-benchmark.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      region: ${{ inputs.region }}
      skipCreateDataset: true
      outputArchiveSuffix: 'active-active-volatile'
      usersPerRealm: ${{ inputs.usersPerRealm }}
    secrets: inherit

  run-active-active-volatile-health-checks-after-benchmarks:
    needs: run-scaling-benchmark-active-active-volatile
    name: Run multi-site health checks after after volatile sessions benchmarks
    uses: ./.github/workflows/keycloak-multi-site-health-check.yml
    with:
      activeActive: true
      clusterPrefix: ${{ inputs.clusterPrefix }}
      project: runner-keycloak
      expectedInfinispanNodeCount: '3'
    secrets: inherit

  keycloak-undeploy-active-active-volatile:
    needs: run-active-active-volatile-health-checks-after-benchmarks
    name: Undeploy Keycloak A/A deployment
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters-undeploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
      skipAuroraDeletion: true
      activeActive: true
    secrets: inherit

  # single-site stuff

  keycloak-deploy-single-site:
    needs: keycloak-undeploy-active-active-volatile
    name: Deploy Single Cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters_single-site-deploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
    secrets: inherit

  run-scaling-benchmark-single-site:
    needs: keycloak-deploy-single-site
    name: Benchmark for single-site deployment
    uses: ./.github/workflows/rosa-single-cluster-benchmark.yml
    with:
      clusterName: ${{ inputs.clusterPrefix }}-a
      region: ${{ inputs.region }}
      skipCreateDataset: true
      outputArchiveSuffix: 'single-site'
      usersPerRealm: ${{ inputs.usersPerRealm }}
    secrets: inherit

  keycloak-undeploy-single-site:
    needs: run-scaling-benchmark-single-site
    name: Undeploy Single Cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-clusters_single-site-undeploy.yml
    with:
      clusterPrefix: ${{ inputs.clusterPrefix }}
    secrets: inherit
