name: ROSA Daily Scheduled Run

on:
  schedule:
    - cron: '0 5 * * 1-5' # Runs At 05:00 UTC on every day-of-week from Monday through Friday.
  workflow_dispatch:

# env:
#   CLUSTER_PREFIX: gh-keycloak

jobs:
  cluster-create-keycloak-deploy:
    name: ROSA Scheduled Create cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-create.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
    secrets: inherit

  run-functional-tests:
    needs: cluster-create-keycloak-deploy
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
    secrets: inherit

  run-scaling-benchmark:
    needs: run-functional-tests
    uses: ./.github/workflows/rosa-scaling-benchmark.yml
    with:
      clusterName: gh-keycloak-a # ${{ env.CLUSTER_PREFIX }}-a -- unfortunately 'env.' doesn't work here ${{ env.CLUSTER_PREFIX }}-a
      outputArchiveSuffix: 'default'
    secrets: inherit

  keycloak-undeploy:
    needs: run-scaling-benchmark
    name: Undeploy Keycloak deployment on the multi-az cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-undeploy.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
      skipAuroraDeletion: true
    secrets: inherit

  keycloak-deploy-with-persistent-sessions:
    needs: keycloak-undeploy
    name: ROSA Scheduled Create cluster with Persistent Sessions
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-create.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
      enablePersistentSessions: true
      createCluster: false
    secrets: inherit

  run-scaling-benchmark-with-persistent-sessions:
    needs: keycloak-deploy-with-persistent-sessions
    uses: ./.github/workflows/rosa-scaling-benchmark.yml
    with:
      clusterName: gh-keycloak-a # ${{ env.CLUSTER_PREFIX }}-a -- unfortunately 'env.' doesn't work here ${{ env.CLUSTER_PREFIX }}-a
      skipCreateDataset: true
      outputArchiveSuffix: 'persistent-sessions'
    secrets: inherit

  keycloak-undeploy-with-persistent-sessions:
    needs: run-scaling-benchmark-with-persistent-sessions
    name: Undeploy Keycloak deployment on the multi-az cluster
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-undeploy.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
      skipAuroraDeletion: true
    secrets: inherit

  keycloak-deploy-active-active:
    needs: keycloak-undeploy-with-persistent-sessions
    name: ROSA Scheduled Create Active/Active cluster with Persistent Sessions
    if: github.event_name != 'schedule' || github.repository == 'keycloak/keycloak-benchmark'
    uses: ./.github/workflows/rosa-multi-az-cluster-create.yml
    with:
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
      enablePersistentSessions: true
      createCluster: false
      activeActive: true
    secrets: inherit

  run-functional-tests-active-active:
    needs: keycloak-deploy-active-active
    uses: ./.github/workflows/rosa-run-crossdc-func-tests.yml
    with:
      activeActive: true
      clusterPrefix: gh-keycloak # ${{ env.CLUSTER_PREFIX }} -- unfortunately 'env.' doesn't work here
    secrets: inherit

  run-scaling-benchmark-active-active:
    needs: run-functional-tests-active-active
    uses: ./.github/workflows/rosa-scaling-benchmark.yml
    with:
      clusterName: gh-keycloak-a # ${{ env.CLUSTER_PREFIX }}-a -- unfortunately 'env.' doesn't work here ${{ env.CLUSTER_PREFIX }}-a
      outputArchiveSuffix: 'active-active'
      skipCreateDataset: true
    secrets: inherit
