footer.footer {
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    padding-left: 0.5rem;
}

.navbar {
    background: white;
    color: #6f777d;
    font-family: -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}

.navbar-end {
    padding-right: 1em;
}

.navbar-brand .navbar-item, .navbar-end .navbar-link, .navbar-end .navbar-item {
    color: #6f777d;
}

.navbar a {
    color: #6f777d;
}

.navbar-brand:hover .navbar-item:first-child, .navbar-brand .navbar-item:first-child a:hover, .navbar-brand .navbar-item:first-child:hover {
    color: #53595e;
}

.navbar-end .navbar-item a {
    position: relative;
}

.navbar-end .navbar-item a:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    background: #6f777d;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: scaleX(0) translate3d(0, 0, 0);
    transform: scaleX(0) translate3d(0, 0, 0);
}
.navbar-end .navbar-item a:hover:before {
    -webkit-transform: scaleX(1);
    -ms-transform: scaleX(1);
    transform: scaleX(1);
}

.navbar-brand {
    font-weight: bold;
}

.imageblock img {
    border-width: 1px;
    border-color: darkgrey;
    box-shadow: 5px 5px 5px darkgrey;
    border-style: solid;
}

.navbar-brand .navbar-item {
    max-width: 60vw;
}

#search-input {
    max-width: 25vw;
}

.navbar-brand .logo {
    height: 40px;
    width: 40px;
}

@media screen and (max-width: 1200px) and (min-width: 1024px) {
    #search-input {
        width: 100px;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        font-size: 16px;
    }
    .navbar-brand .navbar-item:first-child, .navbar-brand .navbar-item:first-child a {
        padding-right: 0;
        font-size: 16px;
    }

    .navbar-brand .logo {
        height: 32px;
        width: 32px;
    }
}

/* avoid jumping navigation due to changing width of bold font weight when a nav link becomes active */
.is-current-page > .nav-link, .is-current-page > .nav-text {
    font-weight: normal;
    text-shadow: 1px 0 0 black;
}
